@{
    ViewData["Title"] = "Sobre";
}
<h1>Sobre</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut condimentum metus. In vehicula neque non ex consequat, in sagittis dolor cursus. Sed ut fermentum mi. Duis non elit metus. Integer cursus nunc enim, at lobortis ex tincidunt ac. Maecenas varius finibus dui, in hendrerit tellus varius a. Donec nec suscipit ante, at pretium dolor. Integer eget ultrices eros, sollicitudin cursus nibh. Ut efficitur sed libero vitae vulputate. In a facilisis turpis. Curabitur sed ligula quis ante cursus dictum. Aliquam laoreet nisl vitae turpis feugiat, ut sagittis odio mattis.
    </br></br>
    Aliquam consequat nec tortor ac vehicula. In id hendrerit nisl. Aenean ac fringilla velit. Suspendisse tincidunt arcu est, ut vulputate eros tempus ut. Integer eu turpis arcu. In neque nulla, aliquet a urna eget, condimentum rhoncus tellus. Vivamus vel fermentum est. Donec cursus, dui in malesuada aliquet, mi libero mollis ligula, a varius augue enim dictum tortor. Nulla nec libero tempor, facilisis orci et, venenatis nunc. Nunc dui sapien, bibendum in tortor luctus, feugiat consectetur nulla. Phasellus pharetra nunc odio, eget dignissim elit imperdiet et. Donec at hendrerit arcu.
</p>